@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}

<div class="col-xl-12">
    <h4 class="panel-title">@ViewData["Title"]</h4>
    <h2>Enter your email.</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">

                <div class="form-floating mb-3">
                    <input class="form-control" autocomplete="username" aria-required="true" placeholder="name@contoso.com" type="email" data-val="true" data-val-email="O campo Email não é um endereço de email válido." data-val-required="O campo E-mail é obrigatório." id="Input_Email" name="Input.Email" value="" />
                    <label class="form-label" for="Input_Email">Email</label>
                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Redefinir senha</button>

            </form>
        </div>
    </div>
</div>