<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Manager.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatable/dist/datatables.css" />
    <link rel="stylesheet" href="~/lib/plugins/bootstrap-daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="~/lib/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/lib/plugins/bootstrap-daterangepicker/daterangepicker.css"  />
    <link rel="stylesheet" href="~/lib/plugins/bootstrap-datetime-picker/css/bootstrap-datetimepicker.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Manager.UI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="body">
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><strong>M2|Marketplace</strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav flex-lg-grow-1 nav nav-tabs dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">

                        <!--|Menu Home|-->
                        <li class="nav-item ">
                            <a class="nav-link text-dark active bg-warning" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <!--|Menu Cadastros|-->
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Cadastros
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                <!--|Menu Empresa|-->
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Empresas
                                    </a>
                                    <ul class="dropdown-menu " aria-labelledby="navbarDarkDropdownMenuLink2">
                                        <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="Index" asp-controller="Cliente">Cliente</a></li>
                                        <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="Index" asp-controller="Fornecedore">Fornecedor</a></li>
                                        <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="Index" asp-controller="Transportadora">Transportadora</a></li>
                                        <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="Index" asp-controller="Frota">Frota</a></li>
                                    </ul>
                                </li>
                                <!--|Menu Produtos|-->
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Produtos
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink2">
                                        <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="Index" asp-controller="Categoria">Categorias</a></li>
                                        <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="Index" asp-controller="Produto">Produtos</a></li>
                                        <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="Index" asp-controller="Campanha">Campanhas</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <!--|Menu Pedidos|-->
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Pedidos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="Index" asp-controller="venda">Vendas</a></li>
                                <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="Index" asp-controller="Compra">Compras</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <!--|Menu Notas Fiscais|-->
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle text-capitalize" href="#" id="navbarDarkDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Notas fiscais
                                    </a>
                                    <ul class="dropdown-menu " aria-labelledby="navbarDarkDropdownMenuLink2">
                                        <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="Entrada" asp-controller="NotaFiscal">Entrada</a></li>
                                        <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="Saida" asp-controller="NotaFiscal">Saida</a></li>
                                        <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="Devolucao" asp-controller="NotaFiscal">Devolução</a></li>
                                        <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="Devolucao" asp-controller="NotaFiscal">Cancelamento</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <!--|Menu Estoque|-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Estoque
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="Movimento" asp-controller="Estoque">Movimentação</a></li>
                                <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="Devolucao" asp-controller="Estoque">Devolução</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="Transferencia" asp-controller="Estoque">Transferencia</a></li>
                            </ul>
                        </li>

                        <!--|Menu Financeiro|-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Financeiro
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="CPagar" asp-controller="Financeiro">Contas a pagar</a></li>
                                <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="CReceber" asp-controller="Financeiro">Contas a receber</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="Aliquota" asp-controller="Financeiro">Aliquotas</a></li>
                            </ul>
                        </li>

                        <!--|Menu Relatórios|-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Relatórios
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="Analitico" asp-controller="Relatorio">Analiticos</a></li>
                                <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="Sintetico" asp-controller="Relatorio">Sintéticos</a></li>
                            </ul>
                        </li>

                        <!--|Menu Administrativo|-->
                        <li class="nav-item dropdown bg-light">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Administrativo
                            </a>
                            <ul class="dropdown-menu bg-light" aria-labelledby="navbarDarkDropdownMenuLink">

                                <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="Index" asp-controller="Usuario">Usuários</a></li>
                                <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="Index" asp-controller="UsuarioPerfil">Perfis</a></li>
                                <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="Index" asp-controller="Log">Logs</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-capitalize" asp-area="" asp-action="Index" asp-controller="Parametro">Parametrização</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <partial name="_MenuPartial" />

                <partial name="_LoginPartial" />
            </div>
        </nav>

    </header>

    

    <div id="content" class="body form  ">

        @RenderBody()
        
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - M2|Marketplace - <a asp-area="" asp-controller="Home" asp-action="Grid">Privacy</a>
        </div>
    </footer>
    <script asp-append-version="true" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script asp-append-version="true" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script asp-append-version="true" src="~/lib/datatable/dist/datatables.js"></script>
    <script asp-append-version="true" src="~/lib/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script asp-append-version="true" src="~/lib/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script asp-append-version="true" src="~/lib/plugins/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js"></script>

    <script asp-append-version="true" src="~/js/setting_calendar.js"></script>
    <script asp-append-version="true" src="~/js/setting_datatableselect.js"></script>

    @* <script asp-append-version="true" src="~/js/startapplicarion.js"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
