@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Dashboard v3";
}


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown bg-light">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Alessandro Silvestre! @User.Identity?.Name
                <span class="badge bg-danger rounded-pill ms-auto pb-4px">99+</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end me-1">
                <a class="dropdown-item text-capitalize" asp-area="" asp-action="Profile" asp-controller="Usuario">Edit Profile</a>
                <a class="dropdown-item text-capitalize" asp-area="" asp-action="Notification" asp-controller="Usuario">
                    Mensagens
                    <span class="badge bg-danger rounded-pill ms-auto pb-4px">99+</span>
                </a>
                <a class="dropdown-item text-capitalize" asp-area="" asp-action="Agenda" asp-controller="Usuario">Agenda</a>
                <a href="javascript:;" class="dropdown-item">Setting</a>
                <div class="dropdown-divider"></div>
                <a href="javascript:;" class="dropdown-item">Log Out</a>
            </div>
        </li>

        @* <li class="nav-item">
    <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
    <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
    <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
    </form>
    </li> *@
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark text-capitalize" asp-area="" asp-action="Registro" asp-controller="Account">Registro</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark text-capitalize" asp-area="" asp-action="Login" asp-controller="Account">Login</a>
        </li>
    }
</ul>
